<div class="flex flex-col items-center">
  <h2 class="text-5xl mb-10 "><%= @category.title %></h2>
</div>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg mb-5">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="py-3 px-6">
          Task title
        </th>
        <th scope="col" class="py-3 px-6">
          Content
        </th>
        <th scope="col" class="py-3 px-6">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="p-4 w-4">
            <div class="flex items-center">
              <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
            </div>
          </td>
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= task.title %>
          </th>
          <td class="py-4 px-6">
            <%= task.content %>
          </td>
          <td class="flex items-center py-4 px-6 space-x-3">
            <%= link_to 'Edit', edit_task_path(task), class:"font-medium text-blue-600 dark:text-blue-500 hover:underline mr-5" %>
            <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' },class:"font-medium text-red-600 dark:text-red-500 hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="flex justify-center">
  <%= link_to "Create Task", new_category_task_path(@category),class:"px-3 py-2 bg-green-200 rounded-md  hover:bg-green-600 hover:text-white"  %>
</div>
