<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>
<form action="./categories" method="get" class="">
  <input type="text" placeholder="標題關鍵字查詢" name="keyword" class="" placeholder="Search" required="">
  <button type="submit" class="">submit</button>
</form>
<table>
  <thead>
    <tr>
      <td>Title</td>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "create category", new_category_path %>
