<h2>Category Title: <%= @category.title %></h2>
<table>
  <thead>
    <tr>
      <td>Task Title</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= link_to 'Show', "#" %></td>
        <td><%= link_to 'Edit', "#" %></td>
        <td><%= link_to 'Delete', "#", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Create Task", new_category_task_path(@category) %>
